:root {
	--black: hsla(0, 0%, 0%, 1);
	--white: hsla(0, 0%, 100%, 1);
	--grey: hsla(0, 0%, 44%, 1);
	--light-grey: hsla(0, 0%, 94%, 1);
}

html,
body,
#__nuxt,
.app-root {
	height: 100%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
